@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" href="~/Content/css/aboutus.css">

<div class="about_container">
    <div class="title_about">
        <h3>ABOUT US</h3>
    </div>
    <div class="about_content_page">
        <div class="about_left_content">
            <div class="left_content">
                <ul>
                    <li><a href="@Url.Action("About","Home")" class="about_left active">> Company Profile</a></li>
                    <li><a href="@Url.Action("History","Home")" class="about_left">> History</a></li>
                </ul>
            </div>
        </div>
        <div class="about_right_content">
            <table class="table_about">
                <tr>
                    <td>
                        Business Type:
                    </td>
                    <td><strong>Manufacturer/Factory, Trading Company</strong></td>
                </tr>
                <tr>
                    <td>Business Range:</td>
                    <td><strong>Industrial Equipment & Components, Manufacturing & Processing Machinery for Pharmaceutical</strong></td>
                </tr>
                <tr>
                    <td>Registered Capital:</td>
                    <td><strong>80000000 RMB</strong></td>
                </tr>
                <tr>
                    <td>Type of Ownership:</td>
                    <td><strong>Limited Company</strong></td>
                </tr>
                <tr>
                    <td>Management System Certification:</td>
                    <td><strong>ISO 9001, ISO 14001, GMP</strong></td>
                </tr>
                <tr>
                    <td>Main Markets:</td>
                    <td><strong>Vietnam, Southeast Asia, ...</strong></td>
                </tr>
            </table>
            <p class="about_content_text"><a href="index.html" style="color: #83ceff;"><strong>HighWind Pharmaceutical</strong></a> is a professional supplier and exporter of pharmaceutical focus on Capsule/ Encapsulation, Tablet, Liquid Filling and Grinder/Mixer. </p>

            <p class="about_content_text">We have a well-experienced team in pharmaceutical machinery and our numbers of professional engineers have 20 years experience in the pharmaceutical machinery field. Our staff are all with over 10 years of working experiences in the field of pharmaceutical or food machinery industry, which will be surely helpful for providing the professional advices and technical support services to customers at home and abroad.</p>

            <p class="about_content_text">We manufacture unit machines and production lines for oral solid dosage such as tablet, capsule. We also offer equipments and production line for liquid and injectable like oral liquid, oral syrup, ampoule, vial liquid injectable, powder or lyophilized injectable line.</p>

            <p class="about_content_text">Welcome all of friends from abroad to our company and establishing good business cooperation.</p>
        </div>
    </div>
</div>