@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" href="~/Content/css/contactus.css">

<div class="contact_container">
    <div class="title_contact">
        <h3>CONTACT US</h3>
    </div>
    <div class="content_contact">
        <div class="map_us">
            <div class="text_before">
                <p><strong>Tel:</strong> +84 33 516 7610</p>
                <p><strong>Fax:</strong> +84-512-58922893</p>
                <p><strong>Email:</strong> highwindenterprise@gmail.com</p>
                <p>
                    <strong>Address:</strong> Floor 1 - Ha Son Tower, 277A Nguyen Van Dau St.
                    Ward 11, Binh Thanh District, Ho Chi Minh City
                </p>
                <br /><h5>Our Oversea Branch</h5>
                <h5>HIGHWIND SCOPE LIMITED</h5>
                <p><strong>Address:</strong> Add: P.O. Box 957, Offshore Incorporations Centre, Road Town, Tortola, British Virgin Islands</p>
            </div>
        </div>
        <div class="form_contact">
            <form action="#">
                <input type="text" placeholder="What is your concern?">
                <textarea name="message" id="message" cols="50" rows="10" placeholder="Message"></textarea>
                <h5>Contact Information</h5>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Phone Number">
                <a id="send-button" href="#"><div class="send-btn">SEND NOW</div></a>
            </form>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4730315658317!2d106.68787351462257!3d10.775036392322491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3b11ad45f5%3A0xe364d9f90dac0f2e!2sMinh%20Long%20Tower!5e0!3m2!1svi!2s!4v1611553830456!5m2!1svi!2s"
        width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
    </div>
</div>