
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" href="~/Content/css/aboutus.css">

<div class="about_container">
    <div class="title_about">
        <h3>ABOUT US</h3>
    </div>
    <div class="about_content_page">
        <div class="about_left_content">
            <div class="left_content">
                <ul>
                    <li><a href="@Url.Action("About","Home")" class="about_left">> Company Profile</a></li>
                    <li><a href="@Url.Action("History","Home")" class="about_left active">> History</a></li>
                </ul>
            </div>
        </div>
        <div class="about_right_content">
            <ul class="ent-his2">
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2006</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Founded in 2006</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2007</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Form and develop our team in 2007</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2008</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Supplied Capsule line in 2008</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2009</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Developed Liquid filling line in 2009</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2010</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Developed new filling valve in 2010</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2011</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Developed new type of Encapsulation line in 2011</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2013</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Developed efficient tablet in 2013</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2014</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Update workshop in 2014</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2016</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Update workshop 2nd times and celebrate 10th Anniversary Ceremony of HighWind Pharmaceutical</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2018</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Launched a new oversea branch in 2018</span>
                    </div>
                </li>
                <li>
                    <div class="ent-year">
                        <span style="font-size:14px;">2020</span>
                    </div>
                    <div class="ent-text">
                        <span style="font-size:18px;">Developed Grinder & Mixer in 2020</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>