
@{
    ViewBag.Title = "Join Us";
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";
}
<div class="join-us-container">
    <div class="our_values">
        <div class="values-text">
            <span>OUR VALUES</span>
            <p>We started Pharma-Partners as we are passionate about recruiting within the Life Sciences industry and enhancing career development, to support medical professionals to be the best they can be.  Priding ourselves on the level of experience that we have within, our people have built a unique culture based upon support and trust, flexibility and collaboration as well being family-oriented and fun! Because of this we are able to attract the best people to our business, people who want to work and flourish in an adult environment, and having a good time whilst doing so is equally important.</p>
            <p>Pharma-Partners need the right people on board in order to continue our quest to be ‘the trusted and reliable partner of choice for the life sciences industry’ – we don’t operate a highly KPI’d environment as we give ownership and autonomy to our employees to go about their roles in the way that they know is best, providing the freedom and tools to do so.</p>
            <p>We love coming to work every day – and so should you!</p>
        </div>
        <div class="values-img">
            <img src="~/Content/img/values.png" width="100%" alt="">
        </div>
    </div>
</div>
<div class="our_benefits">
    <img src="~/Content/img/benefit.PNG" alt="">
</div>